
PA1/input.txt
PA1/output.txt
PA1/test
PA1/test.txt
PA2/shell
PA2/.DS_Store
PA1/.DS_Store
PA1/.DS_Store
*.plist
PA2/shell.dSYM/Contents/Resources/DWARF/shell
.DS_Store
PA2/test.input
PA2/~$signment 2 - Fork Process.docx
PA1/.DS_Store
In Class/Ch3/consumer
In Class/Ch3/producer
In Class/Ch3/pipe
PA2/sshell.dSYM/Contents/Resources/DWARF/sshell
.DS_Store
